<mat-grid-list class="top-rectangle-grid" cols="12" [rowHeight]="'15vw'">
  <!--ENTER-->
  <mat-grid-tile
    colspan="12"
    class="left-top-rectangle"
    (click)="scrollToAbout()"
  >
    <div class="wrapper">
      <div class="enter-img">
        <img src="top-rectangle-img.png" alt="ENTER" />
      </div>
      <div class="enter-text">
        <span class="title">מחפשים מומחי דיגיטל? מצאתם!</span>
        <span class="desc"
          >מעצבים, מפתחים ומשווקים שייקחו את העסק שלכם קדימה.</span
        >
        <button class="btn btn-secondary-light btn-contact">
          <span class="btn-text">דברו איתנו עכשיו!</span>
        </button>
      </div>
    </div>
  </mat-grid-tile>

  <!--ENTER TEXT-->
  <!-- <mat-grid-tile colspan="4">
    <div class="left-section">
      <span class="rolling-text">
        <b>צפו</b> בעבודות של אנשי מקצוע מובילים בתחומים מגוונים. <b>בחרו</b> את
        השירות שמתאים לצרכים שלכם. <b>צרו קשר</b> ואנחנו נחזור אליכם בהקדם.
      </span>
    </div>
  </mat-grid-tile> -->
</mat-grid-list>
