<app-modal-wrapper title="כניסה לפרופיל שלי">
  @if(showLoginServerError) {
  <section class="login-server-error">
    <app-server-error text="שם משתמש או סיסמה לא נכונים" />
  </section>
  }
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="light">
      <mat-label>שם משתמש</mat-label>
      <input matInput [formControl]="nameControl" />
      @if (nameControl.hasError('required')) {
      <mat-error>יש להזין שם משתמש</mat-error>
      } @if (nameControl.hasError('pattern')) {
      <mat-error>שם משתמש יכול להזין אותיות בלבד</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="light">
      <mat-label>סיסמא</mat-label>
      <input matInput [formControl]="passwordControl" type="password" />
      @if (passwordControl.hasError('required')) {
      <mat-error>יש להזין סיסמא</mat-error>
      } @if (passwordControl.hasError('minlength')) {
      <mat-error>סיסמא חייבת להיות באורך לפחות 5 תווים</mat-error>
      }
    </mat-form-field>
    <app-hidden-submit (submission)="submit()" [disabled]="!form.valid" />
  </form>

  <ng-template #actions>
    <button
      mat-raised-button
      color="primary"
      class="btn btn-secondary btn-login"
      [disabled]="!form.valid"
      (click)="submit()"
    >
      @if(isFormSubmitting) {
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="15" />
      } @else { אישור }
    </button>
  </ng-template>
</app-modal-wrapper>
