@use '../../../../../colors';

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  cursor: pointer;
}

.avatar {
  position: absolute;
  top: -40px;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: 1;
}

.user-card {
  @each $category, $color in colors.$category-colors {
    &--#{$category} {
      background-color: $color;
      padding-top: 48px;
      text-align: center;
      width: 260px;
      border-radius: 20px;
    }
  }
}

.tagline {
  font-weight: bold;
  font-size: large;
  height: 1.5rem;
}

.displayname {
  font-size: xx-large;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.desc {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
