<div class="card-container" [routerLink]="['/profile', user.id]">
  <div
    class="avatar"
    [style.backgroundImage]="
      user.image
        ? 'url(' + user.image + ')'
        : 'url(' + 'avatar.png' + ')'
    "
  >
    @if(user.isAvailable) {
    <div class="is-available">זמין.ה לעבודה</div>
    }
  </div>
  <mat-card [className]="getCategoryClass(user.categories[0])">
    <mat-card-title class="displayname">{{ user?.displayName }}</mat-card-title>
    <mat-card-subtitle class="tagline">{{ user?.tagline }}</mat-card-subtitle>
    <mat-card-content>
      <p class="desc">{{ user?.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
