.footer {
  margin-top: auto;
  text-align: center;
  padding: 16px;
  background-color: var(--primary-theme-color-light);
  color: var(--primary-black-color);
  font-size: 14px;
}

.footer-content {
  width: 100%;
  text-align: center;
  padding: 16px;
}
