<ng-template #fallback>
  <div class="no-results">
    <span class="text">לא קיימות עבודות למשתמש זה...</span>
  </div>
</ng-template>

<section class="works" *ngIf="userWorks.length > 0; else fallback">
  <div class="works-header">
    <span>קטלוג עבודות:</span>
  </div>
  <mat-grid-list cols="2" rowHeight="235px">
    <mat-grid-tile class="work-tile" *ngFor="let work of userWorks">
      <div class="work-container">
        <img
          *ngIf="work.images.length > 0; else imagePlaceHolder"
          [src]="work.images[0].url"
          alt=""
        />
        <ng-template #imagePlaceHolder>
          <div class="image-placeholder"></div>
        </ng-template>
        <div class="work-text">
          <p class="title">{{ work.title }}</p>
          <p class="desc">
            {{ work.description }}
          </p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
