<mat-toolbar>
  <div class="logo-container" [routerLink]="['/']">
    <img src="logo.svg" alt="Logo" />
  </div>
  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user; else loginTemplate">
    <button
      class="btn btn-primary btn-dashboard"
      *ngIf="[1, 2].includes(user.userRole.id)"
      [routerLink]="['/dashboard']"
    >
      מסך ניהול
    </button>
    <div class="logged-in">
      <img [src]="user.image || defaultAvatar" class="avatar" />
      <span class="display-name">{{ user.displayName }}</span>
      <div class="actions">
        <span *ngIf="user.userRole.id === 3">
          <a [routerLink]="['/profile', user.id]">ניהול גלריה</a>&nbsp;|&nbsp;
        </span>
        <a (click)="logout()">יציאה</a>
      </div>
    </div>
  </ng-container>

  <ng-template #loginTemplate>
    <button mat-button class="login-button">
      <div class="button-content" (click)="openClientLoginForm()">
        <mat-icon class="account-icon">account_circle</mat-icon>
        <span class="login-text">כניסת לקוחות</span>
      </div>
    </button>

    <button mat-button class="login-button">
      <div class="button-content" (click)="openLoginForm()">
        <mat-icon class="account-icon">account_circle</mat-icon>
        <span class="login-text">כניסת מומחים</span>
      </div>
    </button>
  </ng-template>
</mat-toolbar>
