<mat-toolbar>
  <div class="logo-container" [routerLink]="['/']">
    <img src="logo.svg" alt="Logo" />
  </div>
  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user; else loginTemplate">
    <button
      class="btn btn-primary btn-dashboard"
      [ngClass]="isLoggingOut ? 'opacity-50-disabled' : ''"
      *ngIf="[1, 2].includes(user.userRole.id)"
      [routerLink]="['/dashboard']"
      [disabled]="isLoggingOut"
    >
      מסך ניהול
    </button>
    <div class="logged-in">
      <img [src]="user.image || defaultAvatar" class="avatar" />
      <span class="display-name">{{ user.displayName }}</span>
      <div class="actions">
        <span *ngIf="user.userRole.id === 3">
          <a [routerLink]="['/profile', user.id]">ניהול גלריה</a>&nbsp;|&nbsp;
        </span>
        @if (isLoggingOut) {
          <mat-progress-spinner
            class="spinner"
            [mode]="'indeterminate'"
            [diameter]="13"
          />
        } @else {
          <a (click)="logout()">יציאה</a>
        }
      </div>
    </div>
  </ng-container>

  <ng-template #loginTemplate>
    <div class="login-area">
      <button
        class="btn btn-small btn-login btn-client-login"
        (click)="openClientLoginForm()"
      >
        לקוחות
      </button>

      <button
        class="btn btn-small btn-login btn-worker-login"
        (click)="openLoginForm()"
      >
        מומחים
      </button>
    </div>
  </ng-template>
</mat-toolbar>
