.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--primary-theme-color);
}
