<div class="modal-container" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <h2 mat-dialog-title class="modal-title">
    {{ title }}
    <button
      *ngIf="closeOption"
      mat-icon-button
      class="close-button btn-clear"
      (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h2>

  <mat-dialog-content class="modal-content">
    <ng-content></ng-content>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="modal-actions">
    <ng-container *ngTemplateOutlet="actionsTemplate || defaultActions">
    </ng-container>
  </mat-dialog-actions>
</div>

<ng-template #defaultActions>
  <button
    [disabled]="disableSubmit"
    mat-raised-button
    color="primary"
    class="btn btn-secondary btn-modal-action"
    (click)="submit()"
  >
    אישור
  </button>
  <button
    mat-button
    (click)="close()"
    class="btn btn-clear btn-modal-action btn-underline"
  >
    ביטול
  </button>
</ng-template>
