<app-modal-wrapper
  title="יצירת מקבל שירות חדש"
  [disableSubmit]="!form.valid"
  [childSubmit]="submit.bind(this)"
>
  <form [formGroup]="form" class="user-details-form">
    <div
      class="img-container"
      appEditable
      [isEditable]="true"
      [isMultiEdit]="true"
      (startEdit)="editImage(); fileInput.click()"
      (saveEdit)="saveImage()"
      (cancelEdit)="cancelImage()"
      [isSaveDisabled]="!imageValid"
      [iconRight]="10"
      [iconTop]="10"
    >
      <input
        #fileInput
        type="file"
        accept="image/jpeg,image/png,image/gif,image/webp"
        style="display: none"
        (change)="onImageFileSelected($event)"
        [readonly]="true"
      />
      <img class="card-img" [src]="imageControl.value" />

      @if (imageErrorMessage) {
        <div class="error-message">
          {{ imageErrorMessage }}
        </div>
      }
    </div>

    <div class="fields-container">
      <mat-form-field appearance="outline" class="light">
        <mat-label>שם מקבל שירות</mat-label>
        <input matInput [formControl]="displayNameControl" />
        @if (displayNameControl.hasError("required")) {
          <mat-error>יש להזין שם מקבל שירות</mat-error>
        }
        @if (displayNameControl.hasError("pattern")) {
          <mat-error>שם מקבל שירות יכול להזין אותיות בלבד</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="light">
        <mat-label>שם משתמש (אנגלית בלבד)</mat-label>
        <input matInput [formControl]="usernameControl" />
        @if (usernameControl.hasError("required")) {
          <mat-error>יש להזין שם משתמש</mat-error>
        }
        @if (usernameControl.hasError("pattern")) {
          <mat-error>שם משתמש יכול להזין אותיות באנגלית בלבד</mat-error>
        }
      </mat-form-field>

      <mat-checkbox [formControl]="isAvailableControl"
        >האם זמין לעבודה?</mat-checkbox
      >

      <mat-form-field class="small light" appearance="outline">
        <mat-label>תחום</mat-label>
        <mat-select
          [formControl]="categoriesControl"
          multiple
          panelClass="white-select"
        >
          @for (category of categories; track category.id) {
            <mat-option [value]="category">{{
              category.displayName
            }}</mat-option>
          }
        </mat-select>

        @if (categoriesControl.hasError("required")) {
          <mat-error>יש להזין לפחות קטגוריה אחת</mat-error>
        }
      </mat-form-field>

      <mat-form-field
        class="small light"
        [class.disabled]="!isAdmin"
        appearance="outline"
      >
        <mat-label>חממה</mat-label>

        @if (!isAdmin) {
          <input matInput disabled [value]="user?.branch.name" />
        } @else {
          <mat-select [formControl]="branchControl" panelClass="white-select">
            @for (branch of branches; track branch.id) {
              <mat-option [value]="branch">{{ branch.name }}</mat-option>
            }
          </mat-select>

          @if (branchControl.hasError("required")) {
            <mat-error>יש לבחור חממה</mat-error>
          }
        }
      </mat-form-field>
    </div>

    <app-hidden-submit (submission)="submit()" [disabled]="!form.valid" />
  </form>
</app-modal-wrapper>
