<div>
  <section class="show-user-profile" *ngIf="!showUserProfileServerError && profileUser">
    <app-user-info [user]="profileUser" [isEditable]="isEditable"/>
    <app-user-works [userWorks]="profileUser?.works" [isEditable]="isEditable"/>
  </section>
  <section
    class="show-user-profile-server-error"
    *ngIf="showUserProfileServerError"
  >
    <app-server-error />
  </section>
  <section *ngIf="!profileUser && !showUserProfileServerError">
    <mat-spinner class="spinner page-mid"></mat-spinner>
  </section>
</div>
