<section class="apply-reasons-server-error" *ngIf="showApplyReasonsServerError">
  <app-server-error />
</section>

<div class="container" *ngIf="!showApplyReasonsServerError">
  <span class="title">רוצים לעבוד עם אנשי המקצוע בקטלוג?</span>
  <span class="subtitle"
    ><strong>הצעד הראשון הוא הרשמה קצרה.</strong> תוך פחות מדקה תוכלו ליצור
    פרופיל לקוח, לקבל גישה מלאה לכל הפרופילים באתר, ולשלוח פניות ישירות למומחים
    בתחומי העיצוב, הפיתוח, השיווק והתוכן.</span
  >
  <div class="button-container">
    <button (click)="openSignUpModal()"><span>הירשמו עכשיו!</span></button>
  </div>
</div>
