<div class="homepage-container">
  <app-banner></app-banner>

  <span class="experts-tagline">כל המקצוענים <b>במקום אחד</b></span>

  <app-category-filter [categories]="categories" (filterChange)="filterUsers($event)"></app-category-filter>

  <div class="grid-container">
    <app-users-grid [users]="visibleUsers"></app-users-grid>

    <div class="fade-overlay" *ngIf="hasMoreItems" (click)="loadMore()">
      <button mat-button class="show-more-button">
        <img src="scroll-down.png">
      </button>
    </div>
  </div>

  <app-about></app-about>
</div>
