<div class="homepage-container">
  <app-banner></app-banner>

  <span class="experts-tagline">כל המקצוענים <b>במקום אחד</b></span>

  <app-category-filter
    *ngIf="!showCategoriesServerError"
    [categories]="categories"
    (categoryFilterChange)="filterUsersByCategory($event)"
    (textFilterChange)="filterUsersByText($event)"
  ></app-category-filter>

  <section class="categories-server-error" *ngIf="showCategoriesServerError">
    <app-server-error />
  </section>

  <div *ngIf="!isUsersLoaded && !showUsersServerError" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="grid-container" *ngIf="isUsersLoaded && !showUsersServerError">
    <app-users-grid [users]="visibleUsers"></app-users-grid>

    <div class="fade-overlay" *ngIf="hasMoreItems" (click)="loadMore()">
      <button mat-button class="show-more-button btn-clear">
        <svg
          width="47"
          height="17"
          viewBox="0 0 47 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.5 17L-2.32851e-06 -2.94174e-07L23.5 9.63333L47 3.8147e-06L23.5 17Z"
            fill="#1E1E1E"
            fill-opacity="0.83"
          />
        </svg>
      </button>
    </div>
  </div>

  <section *ngIf="showUsersServerError">
    <app-server-error />
  </section>

  <app-about id="about-section"></app-about>

  <app-contact-us
    *ngIf="!showApplyReasonsServerError"
    [applyReasons]="applyReasons"
    class="contact-us"
  ></app-contact-us>

  <section
    class="apply-reasons-server-error"
    *ngIf="showApplyReasonsServerError"
  >
    <app-server-error />
  </section>
</div>
