<div class="homepage-container">
  <app-banner></app-banner>

  <span class="experts-tagline">כל המקצוענים <b>במקום אחד</b></span>

  <app-category-filter [categories]="categories"
                       (categoryFilterChange)="filterUsersByCategory($event)"
                       (textFilterChange)="filterUsersByText($event)"></app-category-filter>

  <div *ngIf="!isUsersLoaded" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="grid-container" *ngIf="isUsersLoaded">
    <app-users-grid [users]="visibleUsers"></app-users-grid>

    <div class="fade-overlay" *ngIf="hasMoreItems" (click)="loadMore()">
      <button mat-button class="show-more-button">
        <img src="scroll-down.png">
      </button>
    </div>
  </div>

  <app-about id="about-section"></app-about>

  <app-contact-us class="contact-us"></app-contact-us>
</div>
