@use "../../../../colors";
@use "sass:map";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.input-field.small {
  width: clamp(116px, 30vw, 310px);
}

.category-buttons {
  display: flex;
  flex-wrap: wrap; // Allow wrapping to new rows
  justify-content: flex-start;
  margin-right: 55px;
  width: 1000px; // Fixed width for the container
  gap: clamp(2px, 1vw, 10px); // Spacing between buttons
  row-gap: 20px; // Space between rows

  .btn-close {
    padding: 0px;
  }

  button.category {
    @each $category, $color in colors.$category-colors {
      &--#{$category} {
        border-radius: 5px;
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        border: none;
        background-color: $color;
        position: relative;
        padding: 10px 15px; // Adjust padding for better spacing
        width: auto; // Ensure buttons only take up the width of their text
        display: inline-flex; // Keeps buttons inline with proper spacing
        align-items: center; // Center text vertically
        justify-content: center; // Center text horizontally
        white-space: nowrap; // Prevents text wrapping
      }

      &--#{$category}.active::after {
        content: "";
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        pointer-events: none; /* Ensures clicks go through */
      }
    }
  }
}

.input-field {
  margin-left: 10px;

  .prefix {
    .btn-search {
      padding: 0px 8px 0px 0px;
      display: flex;

      mat-icon {
        color: black;
        font-size: 1.2rem;
        height: 100%;
        width: 100%;
      }
    }
  }
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 20px;
}
