<mat-grid-list cols="12" rowHeight="200px" gutterSize="0px">
  <mat-grid-tile colspan="7" class="left-banner">
    <span class="expand"></span>

    <!--ENTER-->
    <div class="rectangle">
      <div class="half left">
        <img src="ENTER.png" alt="ENTER">
      </div>
      <div class="half right">
        <img src="enter-for.png" alt="ENTER">
      </div>
    </div>

  </mat-grid-tile>
  <mat-grid-tile colspan="5">
    <div class="rectangle">
      <img src="choose-enter.png" alt="ENTER">
    </div>
  </mat-grid-tile>
</mat-grid-list>
