.banner-grid {
  height: 208px;
  margin: 0px 10px;
}

mat-grid-tile {
  height: 208px;
}

.left-section {
  margin-right: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.expand {
  flex: 1 1 auto;
}

.left-banner {
  cursor: pointer;
}

.rolling-text {
  font-size: clamp(0.9rem, 1.5vw, 1.8vw);
  line-height: 0.8;
  color: black;
  padding: 3px;
  max-width: 230px;

  b {
    color: var(--secondary-theme-color-light);
  }
}
