<mat-grid-list class="banner-grid" cols="12">
  <!--ENTER-->
  <mat-grid-tile colspan="8" class="left-banner" (click)="scrollToAbout()">
    <img src="ENTER.jpg" alt="ENTER" />
  </mat-grid-tile>

  <!--ENTER TEXT-->
  <mat-grid-tile colspan="4">
    <div class="left-section">
      <span class="rolling-text">
        <b>צפו</b> בעבודות של אנשי מקצוע מובילים בתחומים מגוונים. <b>בחרו</b> את
        השירות שמתאים לצרכים שלכם. <b>צרו קשר</b> ואנחנו נחזור אליכם בהקדם.
      </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
