<app-modal-wrapper
  title="הוספת פרויקט לגלריה שלי"
  [closeOption]="false"
  [form]="userWorkForm"
>
  @if(showServerError) {
  <section class="login-server-error">
    <app-server-error />
  </section>
  }
  <form [formGroup]="userWorkForm">
    <div class="card">
      <div class="card-img-container">
        <img
          *ngIf="imageControl.value"
          class="card-img"
          [src]="imageControl.value"
        />
        <mat-icon class="add-icon">add_circle_outline</mat-icon>
      </div>
      <div class="card-text-container">
        <mat-form-field class="small light" appearance="outline">
          <mat-label>כותרת עבודה</mat-label>
          <input matInput [formControl]="titleControl" />

          @if (titleControl.hasError('required') ||
          titleControl.hasError('noOnlySpaces')) {
          <mat-error>יש להזין כותרת</mat-error>
          } @if (titleControl.hasError('minlength')) {
          <mat-error>כותרת חייבת להיות באורך לפחות 2 תווים</mat-error>
          } @if (titleControl.hasError('maxlength')) {
          <mat-error>כותרת חייבת להיות עד 100 תווים</mat-error>
          } @if (titleControl.hasError('pattern')) {
          <mat-error>כותרת יכולה להזין אותיות בלבד</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="small light" appearance="outline">
          <mat-label>תיאור</mat-label>
          <textarea
            matInput
            rows="3"
            [formControl]="descriptionControl"
          ></textarea>
          @if (descriptionControl.hasError('required') ||
          descriptionControl.hasError('noOnlySpaces')) {
          <mat-error>יש להזין תיאור</mat-error>
          } @if (descriptionControl.hasError('minlength')) {
          <mat-error>תיאור חייב להיות באורך לפחות 2 תווים</mat-error>
          } @if (descriptionControl.hasError('maxlength')) {
          <mat-error>תיאור חייב להיות עד 30 תווים</mat-error>
          } @if (descriptionControl.hasError('pattern')) {
          <mat-error>תיאור יכול להזין אותיות ומספרים בלבד</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <app-hidden-submit
      (submission)="submit()"
      [disabled]="!userWorkForm.valid"
    />
  </form>
</app-modal-wrapper>
