<app-modal-wrapper title="" [closeOption]="false">
  @if(showServerError) {
  <section class="login-server-error">
    <app-server-error />
  </section>
  }
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="light">
      <mat-label>סיסמא זמנית</mat-label>
      <input
        [tabindex]="1"
        matInput
        [formControl]="tempPassControl"
        cdkFocusInitial
        type="password"
      />
      @if (tempPassControl.hasError('required')) {
      <mat-error>יש להזין סיסמא זמנית</mat-error>
      }
    </mat-form-field>


    <app-hidden-submit (submission)="submit()" [disabled]="!form.valid" />
  </form>

  <ng-template #actions>
    <button
      mat-raised-button
      color="primary"
      class="btn btn-secondary btn-submit"
      [disabled]="!form.valid"
      (click)="submit()"
      [tabindex]="4"
    >
      @if(isFormSubmitting) {
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="15" />
      } @else { אישור }
    </button>
  </ng-template>
</app-modal-wrapper>
