<div class="bg-color">
  <div class="container">
    <p class="title">צרו קשר עם <strong>ורמיליון אוטומט</strong></p>
    <div class="inputs-container">
      <mat-form-field
        class="input-field small contact-worker"
        appearance="outline"
      >
        <input matInput type="text" placeholder="שם מלא*" />
      </mat-form-field>
      <mat-form-field
        class="input-field small contact-worker"
        appearance="outline"
      >
        <input matInput type="text" placeholder="אימייל*" />
      </mat-form-field>
      <mat-form-field
        class="input-field small contact-worker"
        appearance="outline"
      >
        <input matInput type="text" placeholder="???" />
      </mat-form-field>
    </div>
    <mat-form-field class="small light content" appearance="outline">
      <textarea
        matInput
        name=""
        placeholder="ספרו בקצרה על הפרויקט ומומחים שלנו יצרו אתכם קשר בהקדם"
        id=""
        rows="7"
      ></textarea>
    </mat-form-field>
    <div class="button-container">
      <button><span>שלח</span></button>
    </div>
  </div>
</div>
