.bg-color {
  background: #b1e0df;

  .container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px 0 30px 0;
    padding: 40px 30px;
  }
}

.title {
  padding: 0;
  margin: 0;
  color: #030303;
  font-size: 60px;
  margin-bottom: 15px;
  text-wrap: nowrap;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  margin-top: 20px;

  .input-field {
    background-color: #d9d9d9;
    width: 210px;
    height: 45px;
    font-size: 25px;
  }
}

mat-form-field.small.light.content {
  width: 105%;
  margin-right: -16px;
  font-size: 20px;
}

textarea {
  padding: 10px;
  margin-bottom: 25px;
  background-color: #e1d7cb !important;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;

  button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fdbf74;
    color: #030303;
    font-size: 45px;
    padding: 7.5px 40px;
  }
}
