form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-server-error {
  height: 10px;
  visibility: hidden;
}

.login-server-error.visible {
  visibility: visible;
  ::ng-deep p {
    margin: 0;
  }
}

.social-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  // disable google login if already sent login request
  .button-overlay {
    position: absolute;
    top: 0px;
    left: 7px;
    right: 6px;
    bottom: -1px;
    background: rgb(255 255 255 / 57%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: not-allowed;
    pointer-events: all;
  }
}

.login-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.83em;
}

.btn-login-wrapper {
  padding: 0 7px;

  .btn-login.loading {
    padding: 10px 0;
  }
}

.signin-fields {
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }
}

.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;

  .signup-title {
    margin: 0;
    font-size: 2.3em;
  }

  .signup-subtitle {
    font-weight: normal;
  }
}
