form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-server-error {
  p {
    color: red;
  }
}

.social-login {
  margin-top: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
