<div>
  <form [formGroup]="userInfoForm">
    <mat-card [class]="'card ' + selectedCategoryClasses">
      <div
        class="card-img-container"
        appEditable
        [isEditable]="isEditable"
        [isMultiEdit]="true"
        (startEdit)="startEditing('image'); fileInput.click()"
        (saveEdit)="saveEdit('image')"
        (cancelEdit)="cancelEdit('image')"
        [isSaveDisabled]="!imageValid"
        [iconRight]="10"
        [iconTop]="10"
      >
        <input
          #fileInput
          type="file"
          accept="image/jpeg,image/png,image/gif,image/webp"
          style="display: none"
          (change)="onImageFileSelected($event)"
          [readonly]="true"
        />
        <img class="card-img" [src]="imageControl.value || defaultAvatar" />

        @if (imageErrorMessage) {
          <div class="error-message">
            {{ imageErrorMessage }}
          </div>
        }
      </div>
      <div class="card-text-container">
        <mat-form-field
          class="displayName small transparent"
          appearance="outline"
          appEditable
          [isEditable]="isEditable"
          [isSaveDisabled]="!!displayNameControl.errors"
          (startEdit)="startEditing('displayName')"
          (saveEdit)="saveEdit('displayName')"
          (cancelEdit)="cancelEdit('displayName')"
        >
          <div class="card-title-container">
            <input
              matInput
              [formControl]="displayNameControl"
              [readonly]="!isEditable"
            />
          </div>
          @if (
            displayNameControl.hasError("required") ||
            displayNameControl.hasError("noOnlySpaces")
          ) {
            <mat-error>יש להזין שם משתמש</mat-error>
          }
          @if (displayNameControl.hasError("minlength")) {
            <mat-error>שם משתמש חייב להיות באורך לפחות 2 תווים</mat-error>
          }
          @if (displayNameControl.hasError("maxlength")) {
            <mat-error>שם משתמש חייב להיות עד 30 תווים</mat-error>
          }
          @if (displayNameControl.hasError("pattern")) {
            <mat-error>שם משתמש יכול להזין אותיות בלבד</mat-error>
          }
        </mat-form-field>
        <div class="categories-and-is-avaliable">
          @if (user.isAvailable) {
            <div class="is-available">זמין.ה לעבודה</div>
          }
          <mat-form-field
            class="categories small transparent"
            appearance="outline"
            appEditable
            [isEditable]="isEditable"
            [isSaveDisabled]="!!categoriesControl.errors"
            [iconTop]="-5"
            [iconRight]="17"
            (startEdit)="startEditing('categories')"
            (saveEdit)="saveEdit('categories')"
            (cancelEdit)="cancelEdit('categories')"
          >
            @if (!isEditable) {
              <input
                matInput
                [value]="userCategoriesDisplayNames.join(', ')"
                readonly
              />
            } @else {
              <mat-select
                [formControl]="categoriesControl"
                multiple
                panelClass="white-select"
              >
                @for (category of categories; track category.id) {
                  <mat-option [value]="category.id">{{
                    category.displayName
                  }}</mat-option>
                }
              </mat-select>

              @if (categoriesControl.hasError("required")) {
                <mat-error>יש להזין לפחות קטגוריה אחת</mat-error>
              }
            }
          </mat-form-field>
        </div>

        <mat-form-field
          appEditable
          [isEditable]="isEditable"
          [isSaveDisabled]="!!descriptionControl.errors"
          [iconTop]="-5"
          [iconRight]="6"
          (startEdit)="startEditing('description')"
          (saveEdit)="saveEdit('description')"
          (cancelEdit)="cancelEdit('description')"
          class="description small transparent"
          appearance="outline"
        >
          <textarea
            matInput
            rows="3"
            [formControl]="descriptionControl"
            [readonly]="!isEditable"
          ></textarea>
          @if (
            descriptionControl.hasError("required") ||
            descriptionControl.hasError("noOnlySpaces")
          ) {
            <mat-error>יש להזין תיאור</mat-error>
          }
          @if (descriptionControl.hasError("minlength")) {
            <mat-error>תיאור חייב להיות באורך לפחות 3 תווים</mat-error>
          }
          @if (descriptionControl.hasError("maxlength")) {
            <mat-error>תיאור חייב להיות עד 500 תווים</mat-error>
          }
          @if (descriptionControl.hasError("pattern")) {
            <mat-error
              >תיאור יכול להזין אותיות ומספרים, נקודותיים וקווים
              נטויים</mat-error
            >
          }
        </mat-form-field>
      </div>
    </mat-card>
  </form>
</div>
