<div class="container">
  <span class="title">קצת עלינו</span>
  <div
    #aboutDesc
    class="desc"
    [class.expanded]="readMore"
    (click)="readMore = !readMore"
  >
    ENTER היא חממה דיגיטלית שמחברת בין לקוחות עסקיים לבין אנשי מקצוע בתחומי
    הדיגיטל – כולם בתהליך שיקום תעסוקתי, עם ליווי אישי, איכותי ומקצועי. <br />

    באתר תמצאו פרופילים של מעצבים, מפתחים, עורכי תוכן, משווקים ועוד – בוגרי
    הכשרות ומתמחים בפרויקטים אמיתיים. <br />

    נותני השירות בונים תיק עבודות ונוכחות דיגיטלית כחלק מתהליך ההתמקצעות שלהם.
    <br />
    העבודה מולם מאפשרת לכם ליהנות משירות איכותי – ולחזק מהלך חברתי חשוב. <br />
    בחרו מומחה מתוך הקטלוג וצרו קשר ישירות דרך האתר. <br />
  </div>
  <a *ngIf="isOverflowing && !readMore" (click)="readMore = true"><קראו עוד></a>
  <a *ngIf="readMore" (click)="readMore = false"><קראו פחות></a>
</div>
