<div class="container">
  <span class="title">קצת עלינו</span>
  <div
    #aboutDesc
    class="desc"
    [class.expanded]="readMore"
    (click)="readMore = !readMore"
  >
    ENTER היא חממה דיגיטלית שמספקת מרחב מקצועי, תומך ומקדם לאנשים עם חסמים
    תעסוקתיים, במטרה לסייע להם להשתלב בשוק העבודה.<br />
    אנו מאמינים שכל אדם ראוי להזדמנות לממש את כישוריו, ולכן יצרנו מסגרת ייחודית
    שמעניקה ליווי אישי, ניסיון מעשי והתנסות בפרויקטים אמיתיים.<br />
    החממה פונה לבעלי הכשרה, השכלה או ניסיון בתחומי הדיגיטל והטכנולוגיה, ומציעה
    מסלול התמקצעות המשלב עבודה עם מנטורים, סדנאות מקצועיות, יצירת תיק עבודות
    והכנה לשוק העבודה.<br />
    אנחנו קהילה של אנשי מקצוע ותיקים וחדשים, שמאמינים בכוחו של שיתוף פעולה.<br />
    החזון שלנו הוא ליצור גשר בין הכישרון והיכולות של מקבלי השירות לבין התעשייה,
    ולספק להם את הכלים, הידע והתמיכה הדרושים כדי להתקדם לקריירה מספקת. אם אתם
    מחפשים מסגרת מקצועית שתאפשר לכם לצמוח, להתפתח ולבנות את עתידכם בתחום
    הדיגיטלי – אנחנו כאן בשבילכם.
  </div>
  <a *ngIf="isOverflowing && !readMore" (click)="readMore = true"><קראו עוד></a>
  <a *ngIf="readMore" (click)="readMore = false"><קראו פחות></a>
</div>
