.info {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-submit {
  padding: 5px 30px;
  font-size: 20px;
  width: 112px;
  height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
}
