:root {
  // Define primary color palette
  --primary-theme-color: #99e2e8;
  --primary-theme-color-dark: #0b79d0;
  --primary-theme-color-light: #8fe0df;

  // Define secondary color palette
  --secondary-theme-color: #c1aa4e;
  --secondary-theme-color-dark: #bf5f82;
  --secondary-theme-color-light: #e9ad68;

  // Define neutral colors
  --primary-white-color: white;
  --primary-black-color: black;
  --primary-gray-color: #F2EBEB;
  --primary-dark-gray-color: #7d7c7c;
  --primary-black-color-dark: #616161;
  --primary-black-color-light: #f5f5f5;
  --primary-light-green-color: #b4ee64;

  // Define success, warning, error colors
  --primary-success-color: #4caf50;
  --primary-warning-color: #ff9800;
  --primary-error-color: #f44336;
}

// Define user cards colors
$category-colors: (
  "software-development": #B425D8,
  "uiux": #6BD2D9,
  "data-analysis": #E147EF,
  "marketing": #3890D8,
  "qa": #9E18DC,
  "web-setting": #2464D3,
  "cyber": #FF7BFD,
  "graphic-design": #3DBDDD,
  "digital-illustration": #FC2D16,
  "video-editing": #B60000,
  "animation": #FB0000,
  "default": #6bd2d9,
);
