@forward "_colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

mat-form-field.light {
  --mdc-filled-text-field-container-color: white;

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-style: none;
  }

  .mat-mdc-text-field-wrapper {
    background-color: white;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    transform: translateY(-25px) scale(0.7);
  }

  // Color background on autofill
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

mat-form-field.transparent {
  --mdc-filled-text-field-container-color: transparent;

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-style: none;
  }

  .mat-mdc-text-field-wrapper {
    background-color: transparent;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    transform: translateY(-25px) scale(0.7);
  }

  // Color background on autofill
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

mat-form-field.small {
  --mat-form-field-container-height: 42px;
  --mat-form-field-container-vertical-padding: 5px;

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: var(--primary-theme-color) !important;
    border-width: 3px !important;
  }
}

mat-form-field.smaller {
  --mat-form-field-container-height: 45px;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-container-horizontal-padding: 5px;
  font-size: 1.1rem;
  --mdc-filled-text-field-container-color: white;
  --mat-form-field-filled-with-label-container-padding-top: 10px;
  --mat-form-field-filled-with-label-container-padding-bottom: 1px;

  .mat-mdc-text-field-wrapper {
    padding: 4px 15px 0px 0px;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    transform: translateY(-22px) scale(0.7);
  }
}

// Select option list
.cdk-overlay-pane .white-select {
  --mat-select-panel-background-color: white;
}

button.btn-clear {
  background: none;
  border: none;
}

button.btn {
  border: none;
  padding: 16.5px 15px;
  font-family: "Roboto";
}

button.btn-primary {
  background-color: var(--primary-theme-color);
  color: var(--primary-black-color);
}

button.btn-light {
  background-color: var(--primary-theme-color-light);
}

mat-grid-tile.work-tile {
  display: flex;

  div.mat-grid-tile-content {
    align-items: start !important;
  }
}
