@forward "_colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "open sans hebrew";
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "open sans hebrew";
  src: url("/fonts/OpenSansHebrew-Regular.ttf") format("opentype");
}

.spinner {
  display: flex;
  margin: auto;
}

mat-form-field.light {
  --mdc-filled-text-field-container-color: white;

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-style: none;
  }

  .mat-mdc-text-field-wrapper {
    background-color: white;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    transform: translateY(-25px) scale(0.7);
  }

  // Color background on autofill
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

mat-form-field.border {
  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: black !important;
    border-width: 3px !important;
  }
}

mat-form-field.transparent {
  --mdc-filled-text-field-container-color: transparent;

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-style: none;
  }

  .mat-mdc-text-field-wrapper {
    background-color: transparent;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    transform: translateY(-25px) scale(0.7);
  }

  // Color background on autofill
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

mat-form-field.small {
  --mat-form-field-container-height: clamp(2vw, 2vw, 7vw);
  --mat-form-field-container-vertical-padding: 0.5vw;
  font-size: clamp(0.8rem, 1vw, 2vw);

  .mat-mdc-form-field-icon-suffix,
  .mat-mdc-form-field-icon-prefix {
    padding: 0px 0px 0px 1px;
  }
}

mat-form-field.smaller {
  --mat-form-field-container-height: 45px;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-container-horizontal-padding: 5px;
  font-size: 1.1rem;

  --mdc-filled-text-field-container-color: white;
  --mat-form-field-filled-with-label-container-padding-top: 10px;
  --mat-form-field-filled-with-label-container-padding-bottom: 1px;

  .mat-mdc-text-field-wrapper {
    padding: 4px 15px 0px 0px;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    transform: translateY(-22px) scale(0.7);
  }
}

mat-form-field.hidden {
  .mat-mdc-text-field-wrapper.mdc-text-field {
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        width: 0px !important;
      }
    }
  }
}

// Select option list
.cdk-overlay-pane .white-select {
  --mat-select-panel-background-color: white;
}

button.btn {
  border: none;
  padding: 16.5px 15px;
  cursor: pointer;
}

button.btn:disabled {
  opacity: 0.4;
  cursor: default;
}

button.btn-clear {
  background: none;
  border: none;
}

button.btn-small {
  border: none;
  padding: 6px 15px;
}

button.btn-primary {
  background-color: var(--primary-theme-color);
  color: var(--primary-black-color);
}

button.btn-light {
  background-color: var(--primary-theme-color-light);
}

button.btn-secondary {
  background-color: var(--secondary-theme-color);
}

mat-grid-tile.work-tile {
  display: flex;

  div.mat-grid-tile-content {
    align-items: start !important;
  }
}
