<section class="apply-reasons-server-error" *ngIf="showApplyReasonsServerError">
  <app-server-error />
</section>

<div class="container" *ngIf="!showApplyReasonsServerError">
  <span class="title">בואו לעבוד איתנו!</span>
  <span class="subtitle"
    >השאירו את הפרטים שלכם וצוות החממה יצור אתכם קשר בהקדם!</span
  >
  <form [formGroup]="contactUsForm"></form>
  <span class="input-details">
    <div class="contact-details-row">
      <mat-form-field class="smaller light" appearance="outline">
        <mat-label>שם מלא</mat-label>
        <input matInput type="text" [formControl]="nameControl" />
        @if (nameControl.hasError("required")) {
          <mat-error>יש להזין שם מלא</mat-error>
        }
        @if (nameControl.hasError("minlength")) {
          <mat-error>שם מלא חייב להיות באורך לפחות 2 תווים</mat-error>
        }
        @if (nameControl.hasError("maxlength")) {
          <mat-error>שם מלא חייב להיות באורך של עד 30 תווים</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="smaller light" appearance="outline">
        <mat-label>אימייל</mat-label>
        <input matInput type="email" [formControl]="emailControl" />
        @if (emailControl.hasError("required")) {
          <mat-error>יש להזין אימייל</mat-error>
        }
        @if (emailControl.hasError("email")) {
          <mat-error>אימייל לא תקין</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="smaller light" appearance="outline">
        <mat-label>סיבת הפנייה</mat-label>
        <mat-select
          multiple
          panelClass="white-select"
          [formControl]="applyReasonsControl"
        >
          <mat-option
            *ngFor="let applyReason of applyReasons"
            [value]="applyReason.id"
            >{{ applyReason.name }}</mat-option
          >
        </mat-select>
        @if (contactUsForm.get("applyReasons")?.invalid) {
          <mat-error>יש להזין סיבת פנייה</mat-error>
        }
      </mat-form-field>

      <div class="button-container">
        <button
          type="submit"
          class="btn btn-secondary btn-send"
          mat-stroked-button
          (click)="onSubmit(contactUsForm)"
          [disabled]="!contactUsForm.valid || isButtonDisabled"
        >
          @if (!isFormSubmitting) {
            <mat-spinner
              class="spinner"
              [mode]="'indeterminate'"
              [diameter]="15"
            />
          } @else {
            יאללה לעבודה!
          }
        </button>
      </div>
    </div>
  </span>
</div>
